/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

/* Common styles */
body {
    font-family: 'Poppins', sans-serif;
    margin-left: 140px;
    width: 1428px;





}

h1 {
    color: #FFFFFF;
    font-weight: 700;
    font-size: 70px;
}

h3 {
    color: red;
}

p {
    color: #FFFFFF;
    font-weight: 400px;
    font-size: 16px;
}

.first-part {

    width: 1450px;
    height: 700px;
    left: 140px;
    top: 50px;
    background: #161616;
    border-radius: 30px;
}

.button {
    text-decoration: none;
    color: white;
    font-weight: 400;
    padding: 10px 40px;
    border-radius: 5px;
    background-color: #DD0000;
}

.fa-angle-right {
    color: white;
}



.half-width img {
    position: absolute;
    width: 581px;
    height: 613px;
    left: 788px;
    top: 83px;



}

.main-side {
    position: absolute;
    width: 599px;
    height: 468px;
    left: 246px;
    top: 117px;
    border-radius: 5px;

}

/* sidebar menu list */
.side-bar {
    position: absolute;
    width: 312px;
    height: 312px;
    left: 140px;
    top: 826px;
    background: #161616;
    border-radius: 10px;
}

.menu-button {
    text-decoration: none;
    color: black;
    font-weight: 400;
    padding: 10px 40px;
    border-radius: 5px;
    background-color: white;
    margin-top: 30px;





}

.menu-button:hover {
    background-color: red;
}

.list-gap {
    display: grid;
    grid-template-columns: repeat(1.1fr);
    padding-left: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-bottom: 30px;
    padding-right: 30px;

}

.watch-list .watch-banner img {
    margin-left: 330px;
    width: 312px;
    height: 175px;
    margin-top: 130px;
    border-radius: 1opx 10px 0px 0px;

}

.watch-title {
    margin-left: 350px;
    border-radius: 5px;
    border-style: solid;
    text-align: center;
    font-weight: 500;
    font-size: 16px;
    margin-left: 350px;
    font-weight: 500;
    font-size: 16px;
    color: black;

}

.watch-titles {
    margin-left: 350px;
    text-align: center;
    font-weight: 500;
    font-size: 16px;
    margin-left: 350px;
    font-weight: 500;
    font-size: 16px;
    color: black;

}


.clock {
    margin-left: 350px;
    align-items: center;
    display: flex;
    justify-content: space-evenly;
}

.watch-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 24px;
    grid-row-gap: 24px;
    width: 312px;
    height: 362px;
    left: 1148px;
    top: 826px;
}

h3 {
    margin-top: 99px;
    color: white;
    font-weight: 600;
    font-size: 40px;
    line-height: 60px;
    text-align: center;
    padding-top: 99px;
}

hr {
    width: 100%;
    height: 0px;
}

footer {
    margin-top: 2103px;
    background-color: black;
    width: 1428px;
    height: 431px;
    left: 0px;
    text-align: center;
    justify-content: center;


}

.social-link {

    color: white;
}

/* --------Media Queries---------- */

/* Mobile devices */
@media only screen and (max-width:688px) {
    .first-part {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        flex-direction: column;

    }

    .side-bar .watch-list {
        grid-template-columns: repeat(1, 1fr);
        flex-direction: column;

    }
}

/* Tablet devices */
@media only screen and (min-width: 688px) and (max-width: 992px) {

    .first-part display: grid;
    grid-template-columns: repeat(1, 1fr);

    .watch-list {
        grid-template-columns: repeat(2, 1fr);
        flex-direction: column;
    }
}