/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

/* Common styles */
body {
    font-family: 'Poppins', sans-serif;
    margin-right: 150px;

}

h1 {
    color: #FFFFFF;
    font-weight: 700;
    font-size: 70px;
}

h3 {
    color: red;
}

p {
    color: #FFFFFF;
    font-weight: 400px;
    font-size: 16px;
}

.first-part {

    width: 1300px;
    height: 646px;
    left: 140px;
    top: 50px;
    background: #161616;
    border-radius: 30px;
    margin-left: 140px;
    margin-right: 105px;
}

.button {
    text-decoration: none;
    color: white;
    font-weight: 400;
    padding: 10px 40px;
    border-radius: 5px;
    background-color: #DD0000;
}

.fa-angle-right {
    color: white;
}

.half-width img {
    position: absolute;
    width: 581px;
    height: 613px;
    left: 788px;
    top: 83px;

}

.main-side {
    margin: 71px;
    width: 599px;
    height: 468px;
    left: 246px;
    top: 117px;
    border-radius: 5px;

}

/* sidebar menu list */
.side-bar {
    position: absolute;
    width: 312px;
    height: 312px;
    left: 140px;
    top: 826px;
    background: #161616;
    border-radius: 10px;
    margin-top: 22px;

}

.menu-button {
    text-decoration: none;
    color: black;
    font-weight: 400;
    padding: 10px 40px;
    border-radius: 5px;
    background-color: white;
    margin-top: 30px;

}

.menu-button:hover {
    background-color: red;
}

.list-gap {
    display: grid;
    grid-template-columns: repeat(1.1fr);
    padding-left: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-bottom: 30px;
    padding-right: 30px;

}

.container {
    position: absolute;
    width: 984px;
    height: 1134px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-left: 476px;
    margin-right: 140px;
    margin-top: 130px;
    margin-bottom: 574px;

}

.watch-title {

    border-radius: 5px;
    border-style: solid;
    font-weight: 500;
    font-size: 16px;
    font-weight: 500;
    color: black;
    text-align: center;

}




.watch-titles {
    color: black;
}

h3 {
    margin-top: 99px;
    color: white;
    font-weight: 600;
    font-size: 40px;
    line-height: 60px;
    text-align: center;
    padding-top: 99px;
}

hr {
    width: 100%;
    height: 0px;
}

footer {
    margin-top: 2103px;
    background-color: black;
    width: 1428px;
    height: 431px;
    left: 0px;
    text-align: center;
    justify-content: center;

}

.social-link {

    color: white;
}